doctype html
html
  head
    meta(charset='utf-8')
    title OSL PLANS
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    script(type='text/javascript', src='javascripts/jquery-1.11.1.js')
    script(type='text/javascript', src='javascripts/bootstrap.js')
    //
       HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries 
    //
       WARNING: Respond.js doesn't work if you view the page via file:// 
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    .container
      nav.navbar.navbar-default(role='navigation')
        .container-fluid
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') OSL Plans
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              li.active
                a(href='#') Shows
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Schedules
                  span.caret
                ul.dropdown-menu(role='menu')
                  li
                    a(href='#') Friday
                  li
                    a(href='#') Saturday
                  li
                    a(href='#') Sunday
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Link your Accounts
                  span.caret
                ul.dropdown-menu(role='menu')
                  li
                    a(href='#') Facebook
                  li
                    a(href='#') Spotify
            form.navbar-form.navbar-right(role='search')
              .form-group
                input.form-control(type='text', placeholder='Search')
              button.btn.btn-default(type='submit') Submit
      .title
        h1.os-title
          img(src='images/OutsidePlans.png')
      .panel.panel-default
        table.table
          thead
            tr
              th Times
              th Lands End
              th Sutro
              th Twin Peaks
              th Panhandle
              th The House by Heineken
              th The Barbary
          tbody
            tr
              td 12:00PM
              td 1
              td 2
              td 3
              td 4
              td 5
              td 6
            tr
              td 12:15PM
              td 1
              td 2
              td 3
              td 4
              td 5
              td 6
            tr
              td 12:30PM
              td 1
              td 2
              td 3
              td 4
              td 5
              td 6
            tr
              td 12:45PM
              td 1
              td 2
              td 3
              td 4
              td 5
              td 6
            tr
              td 1:00PM
              td 1
              td 2
              td 3
              td 4
              td 5
              td 6
            tr
              td 1:15PM
              td 1
              td 2
              td 3
              td 4
              td 5
              td 6
            tr
              td 1:30PM
              td 1
              td 2
              td 3
              td 4
              td 5
              td 6
            tr
              td 1:45PM
              td 1
              td 2
              td 3
              td 4
              td 5
              td 6
            tr
              td 2:00PM
              td 1
              td 2
              td 3
              td 4
              td 5
              td 6
            tr
              td 2:15PM
              td 1
              td 2
              td 3
              td 4
              td 5
              td 6
            tr
              td 2:30PM
              td 1
              td 2
              td 3
              td 4
              td 5
              td 6
            tr
              td 2:45PM
              td 1
              td 2
              td 3
              td 4
              td 5
              td 6
            tr
              td 3:00PM
              td 1
              td 2
              td 3
              td 4
              td 5
              td 6
            tr
              td 3:15PM
              td 1
              td 2
              td 3
              td 4
              td 5
              td 6
            tr
              td 3:30PM
              td 1
              td 2
              td 3
              td 4
              td 5
              td 6
            tr
              td 3:45PM
              td 1
              td 2
              td 3
              td 4
              td 5
              td 6
            tr
              td 4:15PM
              td 1
              td 2
              td 3
              td 4
              td 5
              td 6
            tr
              td 4:30PM
              td 1
              td 2
              td 3
              td 4
              td 5
              td 6
            tr
              td 4:45PM
              td 1
              td 2
              td 3
              td 4
              td 5
              td 6
            tr
              td 5:00PM
              td 1
              td 2
              td 3
              td 4
              td 5
              td 6
            tr
              td 5:15PM
              td 1
              td 2
              td 3
              td 4
              td 5
              td 6
            tr
              td 5:30PM
              td 1
              td 2
              td 3
              td 4
              td 5
              td 6
            tr
              td 5:45PM
              td 1
              td 2
              td 3
              td 4
              td 5
              td 6






